h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    background-image: url("lobby2.jpg");
    padding-bottom: 50px;
    padding-top: 50px;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}

h3 {
    font-size: 25px;
    color: rgb(87, 77, 65);
    width: 50%;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 50px;
    padding-left: 50px;
}

.map {
    width: 45%;
    position: absolute;
    right: 3%;
    top: 400px;
    padding-top: 30px;
    padding-bottom: 50px;
}

table,
th,
td {
    padding-left: 9%;
}

a:hover {
    color: blue;
}